

.character{
    position: relative;
    height: 100vh;
    padding-top: 90px;
    &Container{
        position: absolute;
        left: 50%;
        height: auto !important;
        transform: translate(-50%,0);
        z-index: 1;
    }
    &title{
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        text-align: center;
        & p{
            color: var(--color_text_white);
            font-size: 1rem;
            font-weight: 200;
        }
    }
    & h1{
        font-family: 'Russo One', sans-serif;
        font-size: 45px;
        color: var(--color_text_white);
        text-align: center;
    }
    &FirstSlider{
        width: 35%;
        margin: auto;
        position: absolute!important;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        &Item{
            width: 5.15% !important;
        }
        & img{
            filter: grayscale(100%);
        }
    }
    &SecondSlider{ 
        position: relative;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 40vh;
        &Wrapper{
            top: 35%;
        }
        &Title{
            // position: absolute;
            // left: 55%;
            // top: 27%;
            font-size: 1rem;
            font-weight: 200;
            color: var(--color_text_white);
            width: 30% !important;
            padding: 20px;
            // background-color: rgba(0, 0, 0, 0.781);
            // border-radius: 30px;
            & h2{
                color: var(--color_primary);
                margin-bottom: 15px;
            }
            
        }
    }
}
.Soldier{
    position: relative;
    // position: absolute;
    // top: 0;
    // left: 20%;
    &Wrapper{
        position: relative;
        z-index: 1;
    }
    &Bottom{
        position: absolute;
        top: 45%;
        width: 70%;
        z-index: 0;
    }
}
@media screen and (max-width: 1200px) {
    .character{
        &FirstSlider{
            width: 50%;
        }
        &SecondSlider{
            &Title{
                top: 45%;
                left: 12%;
                width: 40% !important;
            }
        }
    }
}
@media screen and (max-width: 1025px) {
    .character{
        &title{
            & p{
            font-size: 1rem;
            // display: none;
            }
        }
        &FirstSlider{
            width: 65%;
        }
        &SecondSlider{
            & img{
                order: 1;
                // width: 80% !important;
            }
            &Title{
                order: 2;
                top: 35%;
                left: 10%;
                width: 55% !important;
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .character{
        &SecondSlider{
            &Title{
                top: 30%;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .character{
        
        // display: none;
        & h1{
            font-size: 35px;
        }
        &title{
            width: 90%;
            top:5px;
        }
        &FirstSlider{
            width: 80%;
            top: 27%;
        }
        &SecondSlider{
            width: 100%;
            display: inline-block !important;
            text-align: center;
            & img{
                order: 1;
                width: 80% !important;
            }
            &Title{
                width: 100% !important;
                margin-top: 30px;
                & h2{
                    margin-bottom: 5px;
                }
            }
        }
    }
    .Soldier{
        width: 80%;
        margin: auto;
    }
}