
.tokenomics{
    overflow:hidden;
    padding-top: 90px;
    & h2{
        font-family: 'Russo One', sans-serif;
        font-size: 45px;
        color: var(--color_text_white);
        text-align: center;
    }
    &Wrapper{
        margin: 100px auto;
        display: flex;
    }
    &PieChart{
        display: inline-block;
        width: 55%;
        & img{
            width: 55%;
            height: auto;
            float: right;
            margin-right: 100px;
        }
    }
    &Text{
        display: inline-block;
        width: 45%;
        & img{
            width: 60%;
            height: auto;
            margin-left: 30px;
        }
    }
}
@media screen and (max-width: 1025px) {
    .tokenomics{
        &PieChart{
            & img{
                width: 70%;
            }
        }
        &Text{
            & img{
                width: 80%;
            }
        }
    }
}
    @media screen and (max-width: 1000px) {
        .tokenomics{
            &PieChart{
                & img{
                    margin-right: 50px;
                    width: 80%;
                }
            }
            &Text{
                & img{
                    width: 90%;
                }
            }
        }
}
@media screen and (max-width: 850px) {
    .tokenomics {
        &Wrapper {
            // flex-direction:column;
            margin: 50px auto;
        }
        &PieChart{
            width: 65%;
            margin: auto;
        }
        &Text {
            &img{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .tokenomics {
        &Wrapper {
            &Img {
                margin-top: 70px;
                width: 104%;
            }
            &Title {
                width: 60%;
                top: -5%;
            }
            &Content {
                width: 100%;
                padding: 15%;
                &List {
                    margin-bottom: 0;
                    & li span:first-child {
                        width: 70%;
                    }
                    & li p{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .tokenomicsWrapperContent p{
        width: 120%;
        margin-left: -10%;
        font-size: 1.1rem;
    }
    .tokenomicsWrapperContentList>li>p{
        padding-left: 8%;
        font-size: 0.9rem;
    }
}