
.imgBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.Wrapper{
    &Btn{
        display: flex;
        justify-content: space-evenly;
        width: 72%;
        margin: auto;
        flex-wrap: wrap;
    }
    &Video{
        margin: 150px auto;
        max-width: 1265px;
        max-height: 715px;
        position: relative;
        &>img{
            width: 100%;
            height: 100%;
        }
        & video{
            position: absolute;
            top: 9%;
            left: 5.2%;
            width: 90%;
            height: 88%;
        }
        &imgmb{
            display: none;
        }
    }
}
.about {
    overflow:hidden;
    position: relative;
    z-index: 8;
    & .container {
        max-width: 1600px !important;
        display: flex;
        align-items: center;
    }
    &Wrapper {
        padding-top: 20%;
        position: relative;
        z-index: 1;
        &>img{
            width: 32%;
            margin-left: 50%;
            transform: translateX(-50%);
        }
        & h1 {
            color: var(--color_text_white);
            font-size: 1rem;
            max-width: 50%;
            margin-top: 45px;
            margin-bottom: 45px;
            margin-left: 50%;
            font-weight: 200;
            line-height: 1.8;
            padding: 15px;
            margin: auto;
            text-align: center;
        }
    }
}


@media screen and (max-width: 1200px) {
    .aboutWrapper{
        width: 100%;
        padding: 150px 10%;
        &Title{
            color: var(--color_text_white);
            font-size: 3rem;
            margin-bottom: 45px;
            font-family: "Bangers", sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            & span{
                color: var(--color_primary);
            }
        }
    }
    .Wrapper{
        &Video{
            margin: 0;
            margin-top: 150px;
            & video{
                top: 5%;
            }
        }
    }
    .btnMB{
        padding: 15px 40px !important;
    }
}
@media screen and (max-width: 1000px) {
    .about {
        &Wrapper {
            &>img{
                width: 50%;
            }
        }
    }
}
    @media screen and (max-width: 850px) {
    .aboutWrapper{
        & h1{
            max-width: 70%
        }
    }
    .Wrapper{
        &Btn{
            width: 90%;
        }
    }
}
@media screen and (max-width: 769px) {
    .aboutWrapperTitle{
        font-size: 2rem !important;
    }

    .btnMB{
        font-size:20px !important;
    }
}
@media screen and (max-width: 600px) {
.aboutWrapper{
    padding: 120px 10%;
        &>img{
            width: 100%;
        }
        & h1{
            max-width: 100%;
        }
        &Btn{
            width: 100%;
        }
    }
    .Wrapper{
        &Video{
            margin-top: 50px;
            & video{
                display: none;
            }
            &imgmb{
                display: block;
                position: absolute;
                top: 0;
                width: 88% !important;
                height: 80% !important;
                margin: 6%;
                margin-top: 5%;
            }
        }
    }
    .btnMB{
        padding: 26px 65px!important;
    }
}